.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
}

.header{
    height: 100px;
    display: grid;
    grid-auto-flow: column;
}

.footer{
    height: 100px;
}

.themeButton{
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-left: 10px;
}

