.restaurantPage {
    display: grid;
    grid-auto-flow: column;
    width: 50%;
}

.restaurantPageContainer{
    padding:20px;
    background-color: rgb(229, 240, 229);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.dishDescription{
    width: 100%;
    height: 32px;
    color:rgb(3, 99, 37);
    line-height: 32px;
}
.dishPrice{
    color:red;
}

.dishCounter{
    width: 30%;
}
.innerTabs{
    display: grid;
    grid-template-columns: 60px 60px;

}
.reviewItem, .menuItem {
    list-style-type: none;
    color: green
}
.emptyReviewHeader{
    color: burlywood
}
.nonEmptyReviewHeader, .menuHeader{
    color: "ButtonText"
}
.reviewText{
    color: black;
}
.restaurantHeader{
    color: cadetblue
}
