.active-tab{
    background-color: brown;
    cursor: pointer;
    height: 40px;
    color: green;
}
.not-active-tab{
    cursor: pointer;
    height: 40px;
}

.restaurant-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
}
.dish-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

