.restaurantPage {
    display: grid;
    grid-auto-flow: column;
    width: 50%;
}

.restaurantPageContainer{
    padding:20px;
    background-color: rgb(229, 240, 229);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.dishDescription{
    width: 100%;
    margin: auto;
    height: 32px;
}

.dishCounter{
    width: 30%;
}
.innerTabs{
    display: grid;
    grid-template-columns: 60px 60px;

}

